# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next
out
next-env.d.ts
*.tsbuildinfo

# production
build

# netlify / vercel
.netlify
.vercel

# env
.env*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
